@tailwind base;
@tailwind components;
@tailwind utilities;

/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
    
  }
}